*.csv
*.nc
*.tif
*.tiff
*.json
*.geojson
*.npy
*.pdf
*.csv
*.json
*.geojson
*.pt
*.zip
*.cpg
*.shp
*.shx
*.xml
*.dbf
*.prj
*.shx
*.ovr
*.png
*.html
*.jpg
*.tfw
*.gitignore
*.pyc
good_outputs.txt
.DS_Store
**/.DS_Store
*.toml